<%- include('_head') %>
  <div class="admin-login">
    <div class="admin-login__kaart">
      <div class="admin-side__merk admin-side__merk--login">Roelfsema<span>Beheer</span></div>
      <h1>Inloggen</h1>
      <% if (fout) { %>
        <div class="melding melding--fout"><%= fout %></div>
      <% } %>
      <form action="/uadmin/login" method="POST" class="form">
        <label>
          <span>Gebruikersnaam</span>
          <input type="text" name="gebruikersnaam" autocomplete="username" required />
        </label>
        <label>
          <span>Wachtwoord</span>
          <input type="password" name="wachtwoord" autocomplete="current-password" required />
        </label>
        <button type="submit" class="btn btn--accent btn--volledig">Inloggen</button>
      </form>
    </div>
  </div>
</body>
</html>
