<%- include('partials/head', { titel: 'Niet gevonden' }) %>
<%- include('partials/header') %>
<div class="wrap"><div class="bedankt">
  <h1>Pagina niet gevonden</h1>
  <p>Deze pagina bestaat niet (meer). Misschien is de trekker inmiddels verkocht.</p>
  <a class="btn btn-fill" href="/aanbod">Bekijk het aanbod</a>
</div></div>
<%- include('partials/footer') %>
